*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #0fd9cf
}

body{
    background-color: #000000ef;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.interface img{
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
}

/* estilo do cabeçalho */

header{
    padding: 0px 3%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
    transition: 2ms;
}

header nav ul li{
    display: inline-block;
    padding: 0px 40px;
}

.btn_contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #2d8580;
    border: 0;
    border-radius: 30px;
}

.btn_contato button:hover{
    box-shadow: 0px 0px 6px #fff;
    background-color: #0fd9cf;
    cursor: pointer;
    transition: .2s;
    transform: scale(1.05);
}

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: space-between;
    gap: 90px;
}

.flex{
    display: flex;

}

.txt-topo h1{
    color: #fff;
    font-size: 42px;
    line-height: 55px;
}

.txt-topo p{
    color: #fff;
    margin: 30px 0px;
}

.topo-do-site .img-topo{
    right: 250px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

.topo-do-site .txt-topo h1 span{
    color: #0fd9cf;
}

section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
    margin-top: 45px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    transition: .2s;
}
 
.especialidades .titulo{
    margin-top: 80px;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff6d;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #0fd9cf;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0px;
}

@keyframes flutuar{
    0%{
        top: 0px;
    }
    100%{
        top: 25px;
    }
}

.sobre .interface{
    display: flex;
}

.sobre .interface{
    margin-top: 40px;
    gap: 20px;
}

.sobre .interface .div-img > img{
    max-width: none;
    max-height: none; 
    width: auto;
    height: 480px;
    border-radius: 12px;
}

.sobre .interface .txt-sobre > h2{
    color: #fff;
    font-size: 40px;
}

.sobre .interface .txt-sobre > h2 > span{
    color: #0fd9cf;
}

.sobre .interface .txt-sobre > p{
    color: #fff;
    font-size: 20px;
}

.button-contact{
    margin-top: 16px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #0fd9cf;
}

.button-contact:hover{
    cursor: pointer;
}

.button-contact > img{
    width: 25px;
}